---
const text = Astro.props.text;
const link = Astro.props.text;
---
<a href={link}>{text}</a>

<style>
    a {
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        background-color: none;

        height: fit-content;
        width: fit-content;
        
        padding: .5rem;
        color: var(--black);
        position: relative;
        text-decoration: none; /* Ensure no underline by default */
        display: inline-block; /* Needed to contain the pseudo-element */
    }

    a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px; /* Height of the underline */
        background: grey; /* Color of the underline */
        bottom: 0;
        left: 0;
        transition: width 0.3s ease; /* Smooth transition for the width */
    }

    a:hover::after {
        width: 100%; /* Full width on hover */
    }
</style>