---
import { Image } from "astro:assets";

const { team_member, team_role, team_image, team_alt } = Astro.props;
---

<div class="card">
    <Image 
        src={team_image}
        alt={team_alt}
        height={350}
    />
    <div class="text">
        <p class="team_member">{team_member}</p>
        <p class="team_role">{team_role}</p>
    </div>
        
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 2rem;
        padding: 1rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    }

    .team_member {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .team_role {
        font-size: 1rem;
        font-weight: 200;
    }
</style>