---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Testimonials from '../components/Testimonials.astro';
import Services from '../components/Services.astro';
import Team from '../components/Team.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';



import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// import BGImage from "../assets/images/connected.png"

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: url(../assets/images/connected.png)  , #F5F5F5;

			}
		</style>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBXZFLGK"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<Header />
		<Hero />
		<Testimonials />
		<Services />
		<Team />
		<Faq />
		<Footer />
	</body>
</html>
