---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import BGImage from "../assets/images/connected.png"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				width: 1200px;
				margin: 0 auto;
				background: url({BGImage}) lightgray 0% 0% / 200px 200px repeat, #F5F5F5;
			}
		</style>
	</head>
	<body>
		<Header />
		<Hero />
		
		<!-- <Footer /> -->
	</body>
</html>
