---
import Primary from "./buttons/Primary.astro"
---

<section class="faq">
  <div class="headings">
    <h2>Frequently Asked <br><span>Questions</span>.</h2>
    <p>Can’t find what you’re looking for?
      Reach out to us to know more</p>
  </div>
  <div class="questions">

  </div>
</section>

<style>
  
</style>