---
import Primary from "./buttons/Primary.astro"
---

<footer>
  <div class="container">
    <div class="footer-wrapper">
      <span class="logo">Crafting Clicks</span>
      <Primary text="New Project" />
    </div>
    <div class="footer-wrapper">
      <span class="section-title">Contact Details</span>
      <div class="contact-wrapper">
        <address>
          <span class="contact-label">Address</span>
          <p>Bangalore, India</p>
        </address>
      </div>
      <div class="contact-wrapper">
        <span class="contact-label">Email</span>
        <a href="mailto:kevin@craftingclicks.in">kevin@craftingclicks.in</a>
      </div>
      <div class="contact-wrapper">
        <span class="contact-label">Mobile</span>
        <a href="tel:+918939715578">+91 8939715578</a>
      </div>
    </div>
    <div class="footer-wrapper">
      <span class="section-title">Navigation</span>
      <nav>
        <a href="/">Homepage</a>
        <a href="/">Projects</a>
        <a href="/">Services</a>
        <a href="/">Tools</a>
        <a href="/">Contact</a>
      </nav>
    </div>
    <div class="footer-wrapper">
      <span class="section-title">Socials</span>
      <a href="https://www.linkedin.com/company/craftingclicks/" target="_blank">LinkedIn</a>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    width: 100%;
    background-color: #ECECEC;
    justify-content: center;
  }

  .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer-wrapper:first-child {
    gap: 1.5rem;
  }

  .section-title {
    font-family: serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2;
  }

  .contact-label {
    font-weight: 700;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .contact-wrapper > p {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }

  p, a, .contact-label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5;
  }

  .contact-label {
    font-weight: 700;
  }

  .logo {
    font-family: serif;
    font-size: 2rem;
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 20%;
    text-decoration-color: var(--primary);
  }
</style>