---
import CTA from './Buttons/CTA.astro';
import HeaderLink from './HeaderLink.astro';

---

<header>
	<nav>
		<h2><a class="logo"href="/">Crafting Clicks</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<CTA text="Contact" link="/contact" />
		</div>
	</nav>
</header>

<style>
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}

	.internal-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
</style>
