---
import HeaderLink from './HeaderLink.astro';
import Primary from './buttons/Primary.astro';

import Navbar from './Nav/NavBar.jsx';
---
    <nav>
        <!-- <a href="/" class="logo">Crafting Clicks</a>
        <div class="nav-links">
            <HeaderLink href="/">Services</HeaderLink>
            <HeaderLink href="/blog">Work</HeaderLink>
            <HeaderLink href="/about">Technology</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <Primary text="CONTACT"/>
    </nav> -->

        <Navbar client:load />

<style>

    

</style>