---
import HeaderLink from './HeaderLink.astro';
import Primary from './buttons/Primary.astro';

---
    <nav>
        <div class="nav-wrapper">

            <a href="/" class="logo">Crafting Clicks</a>
            <div class="nav-links">
                <HeaderLink href="/">Services</HeaderLink>
                <HeaderLink href="/about">About</HeaderLink>
            </div>
            <Primary text="Contact" />
        
        </div>
    </nav>
        

<style>

nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1444px;
        width: 100%;
        padding: 2.5% 2.5%;
    }
    .nav-links {
        display: flex;
        gap: 1rem;
    }
    .logo {
        font-family: serif;
        font-size: 2rem;
        text-decoration: none;
        color: var(--primary);
        font-weight: 700;
    }
    .cta {
        text-transform: uppercase;
    }

    @media (max-width: 768px) {
        .nav-links {
           display: none;
        }
    }
</style>