---
import HeaderLink from './HeaderLink.astro';

---

<header>
	<nav>
		<span class="logo"><a href="/">Crafting Clicks</a></span>
		<div class="internal-links">
			<HeaderLink href="#About">Projects</HeaderLink>
			<HeaderLink href="#Services">Tools</HeaderLink>
			<HeaderLink href="#Services">Services</HeaderLink>
			<HeaderLink href="#Contact" class="contact-link">Contact</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 2em 10%;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	span a,
	span a.active {
		font-family: 'Playfair Display Variable', sans-serif;
		font-weight: 700;
		color: var(--accent) !important;
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.internal-links {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	.internal-links .contact-link {
    	color: white;	
		background: var(--accent);
		border-radius: 5px;
		padding: .15rem .75rem;
	}
	
	@media (max-width: 720px) {
		
	}
</style>
