---
import CTA from "../components/Buttons/CTA.astro"

import MySwiper from "../components/MySwiper.jsx"
---

<section class="testimonials">
    <div class="left">
        <h2>What our <br><strong>Clients Say.</strong></h2>
        <p class="subheading">Here’s what other business owners had to say about working with us.</p>
        <CTA cta="Lets Work Together"/>
    </div>

    <div class="right">
        <MySwiper client:load />
    </div>
</section>

<style>
    .testimonials {
        display: flex;
        justify-content: space-between;
        padding: 6em 10%;
        background-color: white;
        overflow-x: hidden;
    }

    p.subheading {
        font-size: 1rem;
        width: 40ch;
    }

   
</style>